body {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  body.cv {
    padding-top: 65px;
  }
}

.grey-block {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #F5F5F5;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #888;
}

.grey-block h2:first-child {
  text-align: center;
  margin-top: 10px;
}

.grey-block h3,h4 {
  margin-top: 26px;
}

.grey-block h5 {
  font-weight: bold;
}

.grey-block p:last-child {
  margin: 0px 0px 0px
}

.contacts {
  margin-top: 30px;
  padding-left: 0px;
  list-style: outside none none;
}

.contacts li {
  padding-bottom: 5px;
}
