{% extends "base.html" %}

{% block title %}CV Raphaël Lustin{% endblock %}

{% block description %}Mon curriculum vitæ.{% endblock %}

{% block content %}
<h1>Raphaël Lustin</h1>
<address>
    <ul class="contacts" aria-label="Contact information">
        <li>36 ans</li>
        <li>Paris, France</li>
        <li>raphael@lustin.fr</li>
        <li><a href="https://github.com/rlustin">rlustin</a></li>
    </ul>
</address>

<h2>Expérience</h2>

<article class="job-entry">
    <header>
        <h3>
            <span class="job-title">Lead Développeur</span>
            <span class="organization">
                <a href="https://memo.bank">Memo Bank</a>
            </span>
        </h3>

        <p class="metadata">
            <span class="location">Paris, France</span> — <time datetime="2017-05">depuis mai 2017</time>
        </p>
    </header>

    <div class="description">
        <p>Création d'un <i>Core Banking System</i> moderne et distribué en Kotlin/Elixir à partir de zéro et connexion directe aux systèmes de paiements majeurs.</p>
        <p>
            Nous avons un objectif simple mais très ambitieux : fournir aux PME les produits
            et conseils financiers qu'elles méritent, en créant un établissement bancaire en
            partant de zéro.
        </p>
        <p>
            <a href="https://memo.bank/carrieres">Rejoignez-nous</a> pour créer une nouvelle banque
            pour les PME.
        </p>
    </div>
</article>

<article class="job-entry">
    <header>
        <h3>
            <span class="job-title">Développeur full-stack</span>
            <span class="organization">
                <a href="https://www.captaintrain.com">Captain Train</a>
            </span>
        </h3>

        <p class="metadata">
            <span class="location">Paris, France</span> — <time datetime="2015-09/2017-03">septembre 2015 à mars 2017 (1 an et 6 mois)</time>
        </p>
    </header>

    <div class="description">
        <p>
            Captain Train est un site internet de vente de billets de train.
            Juste des billets de train. Pas de voyage en avion. Pas de location de voiture.
            Pas de séjour en hôtel. Pas de publicité.
        </p>

        <p>
            Mon travail était de permettre au service client de fournir la meilleur
            expérience à nos clients, principalement en leur permettant de répondre
            rapidement et précisément – en mettant à leur disposition les meilleurs
            outils possibles. Mais aussi en améliorant le produit dans son ensemble,
            pour éradiquer les problèmes des clients à la source, et ainsi diminuer
            le taux de contact au service client.
        </p>

        <h4>Missions</h4>
        <ul>
            <li>
                <p>
                    Conception et amélioration des processus et outils internes utilisés
                    par le service client (<i>arrière-guichet</i>, outil de gestion de
                    tickets, outils d'agent…) ;
                </p>
            </li>
            <li>
                <p>
                    Développement de fonctionnalités et correction d'anomalies sur le
                    produit – à tous les niveaux de la <i>stack</i> technique – tout
                    particulièrement lorsqu'elles induisent beaucoup de contacts de clients
                    et lorsque les autres équipes ne sont pas disponibles ;
                </p>
            </li>
            <li>
                Fourniture de données et d'analyses sur l'expérience client, le support,
                et le rapprochement comptable avec les transporteurs.
            </li>
        </ul>
    </div>
</article>

<article class="job-entry">
    <header>
        <h3>
            <span class="job-title">Directeur des opérations</span>
            <span class="organization">
                <a href="https://www.u-pro.fr/">U Pro</a>, filiale
                <a href="http://www.hopscotchgroupe.com">Hopscotch Global PR Group</a>
            </span>
        </h3>

        <p class="metadata">
            <span class="location">Paris, France</span> — <time datetime="2012-02/2015-09">février 2012 à septembre 2015 (3 ans et 8 mois)</time>
        </p>
    </header>

    <div class="description">
        <p>
            Agence conseil et technique en solutions de communication innovantes
            pour grands comptes et institutions.
        </p>
        <p>
            Clients : AXA, BFM, Citroën, Coca Cola Entreprise, Conseil Economique
            Social et Environnemental, Dior, GDF Suez, Marcel, MEDEF, Nissan,
            Peugeot, Renault, Sanofi, Société Générale, Unibail Rodamco,
            Women's Forum.
        </p>

        <h4>Missions</h4>
        <ul>
            <li>
                Animation, coordination et gestion des ressources humaines de l'équipe
                de production (9 personnes dont 1 chef de projets et
                8 développeurs) ;
            </li>
            <li>
                Définition et mise en place de bonnes pratiques de développement :
                standards de code, tests unitaires et fonctionnels, revue de code,
                intégration continue ;
            </li>
            <li>
                Administration des serveurs (20 serveurs physiques et divers CDN) ;
            </li>
            <li>Gestion de la relation client (qualité, coût et délai) ;</li>
            <li>
                Négociation et représentation de l'entreprise auprès des partenaires
                techniques ;
            </li>
            <li>
                Analyse des résultats et de la rentabilité des produits.
                Recommandation sur le développement de nouveaux projets et produits.
            </li>
        </ul>

        <h4>Réalisations</h4>
        <ul>
            <li>
                <p>
                    <em>Netexplo Academy</em> – développement d'un programme de formation
                    et d'acculturation aux usages et technologies du numérique.
                    Personnalisation et déploiement pour 900 000 collaborateurs
                    de 20 grandes entreprises ;
                </p>
            </li>
            <li>
                <p>
                    <em>Rainbow</em> – Outil de gestion global d'U Pro, permettant
                    de gérer la prospection commerciale, les projets, le contrôle de
                    gestion, la facturation et le suivi des temps pour la R&amp;D ;
                </p>
            </li>
            <li>
                <p>
                    <em>Castor</em> – Outil de webcasting live et différé pour environnement
                    d’entreprise ;
                    </p>
            </li>
            <li>
                <p>
                    <em>The Places</em> – outil de <i>knownledge management</i> sur la
                    recherche de lieux pour l'organisation d'événements pour
                    <a href="http://www.hopscotchgroupe.com">Hopscotch Global PR Group</a>.
                </p>
            </li>
        </ul>
    </div>
</article>

<article class="job-entry">
    <header>
        <h3>
            <span class="job-title">Analyse de données pour étude de marché cliniques</span>
            <span class="organization">
                <a
                    href="http://www.icade.fr/activites/promoteur-projets-immobiliers/icade-acteur-plan-conception-ingenierie-immobiliere/icade-setrhi-setae-conception-maitrise-oeuvre-batiments-sante">
                    Icade Sétrhi-Sétaé
                </a>
            </span>
        </h3>

        <p class="metadata">
            <span class="location">Lyon, France</span> — <time datetime="2011">2011 (5 mois)</time>
        </p>
    </header>

    <div class="description">
        <p>
            Conception et réalisation d'un état des lieux prospectif des cliniques
            privées de France à partir de données publiques et privées, faisant
            le lien entre bâtiment, immobilier et performances médicales.
            Recherche d'indicateurs permettant de prévoir les évolutions des
            territoires de santé. Création d'un outil de veille juridique.
        </p>
    </div>
</article>

<article class="job-entry">
    <header>
        <h3>
            <span class="job-title">Chef de projet industriel</span>
            <span class="organization">
                <a href="http://gi.insa-lyon.fr/">INSA Département Génie Industriel</a>
            </span>
        </h3>

        <p class="metadata">
            <span class="location">Lyon, France</span> — <time datetime="2010/2011">2010-2011 (10 mois)</time>
        </p>
    </header>

    <div class="description">
        <p>
            Gestion d'une équipe de 9 personnes pour la création d'un
            <i>Serious Game</i> sur la logistique interne et externe aux entreprises.
            Client : Master Spécialisé Génie Industriel à l'INSA de Lyon.
        </p>
    </div>
</article>

<article class="job-entry">
    <header>
        <h3>
            <span class="job-title">Créateur et associé</span>
            <span class="organization">Comics Europe</span>
        </h3>

        <p class="metadata">
            <span class="location">Paris et Lyon, France</span> — <time datetime="2009/2010">2009-2010 (15 mois)</time>
        </p>
    </header>

    <div class="description">
        <p>
            Créateur et associé d'une société de vente sur Internet de bandes
            dessinées américaines et produits dérivés (comic books).
            Développement de la plateforme de vente.
        </p>
    </div>
</article>

<h2>Formation</h2>

<article class="education-entry">
    <p>
        Ingénieur <a href="http://www.insa-lyon.fr/">INSA de Lyon</a> <br />
        <span class="education-details">
            département <a href="http://gi.insa-lyon.fr/">Génie Industriel</a> — Promotion <time datetime="2012">2012</time><br />
            dont un semestre en échange au
            <a href="https://www.kth.se/en">Royal Institute of Technology (KTH)</a>,
            Stockholm, Suède
        </span>
    </p>
</article>

<article class="education-entry">
    <p>
        Baccalauréat Mention Bien
        <span class="education-details">Lycée Carnot, Paris — <time datetime="2007-06">Juin 2007</time></span>
    </p>
</article>

<h2>Centres d'intérêts</h2>

<h3>Musique</h3>
<p>
    16 ans de basson français dont 9 ans dans les conservatoires de la
    ville de Paris. <em>Section Musique-Etudes de l'INSA</em>.
    Bassoniste à l'Harmonie, tromboniste à la Band'As (fanfare) et au
    <i>big band</i> de l'INSA. Composition de musique électronique.
    Sociétaire de la SACEM depuis juillet 2006. DJing.
</p>

<h3>Informatique</h3>
<p>
    Intérêt pour Linux et les logiciels libres, notamment autour de la
    sécurité informatique et de la vie privée
    (<abbr title="Transport Layer Security" class="initialism">TLS</abbr>,
    <abbr title="GnuPG">GnuPG</abbr>,
    <abbr title="The Onion Router" class="initialism">TOR</abbr>,
    <abbr title="Off The Record" class="initialism">OTR</abbr>),
    contributeur <em>Mozilla</em>.
</p>

<h3>Photographie</h3>
<p>
    Prise de vue argentique et numérique. Développement et tirage argentique.
    Retouche numérique. Pratique de la photographie moyen format.
</p>

<h3>Cuisine</h3>
<p>De France et d'ailleurs, pour deux et pour quarante.</p>
</div>
</div>
{% endblock content %}
