{% extends "base.html" %}

{% block title %}Raphaël Lustin{% endblock %}

{% block description %}Raphaël Lustin’s personal website.{% endblock %}

{% block content %}
<canvas id="background-pattern"></canvas>
<nav class="index-nav">
  <div class="name-section">
    <h1>Raphaël Lustin</h1>
    <p class="tagline">Software engineer <span class="nowrap">& music enthusiast</span></p>
  </div>
</nav>
<nav class="index-links">
  <ul>
    <li><a href="resume">resume</a></li>
    <li><a href="mixes">mixes</a></li>
  </ul>
</nav>
<script type="module" src="/js/index-bundle.js"></script>
{% endblock content %}
