{% extends "base.html" %}

{% block description%}Mix {{ page.title }}{% endblock description %}

{% block content %}
<canvas id="audio-visualizer"></canvas>
<p class="nav">
  <a href="../">← mixes</a>
</p>
<h1 class="title">
  {{ page.title }}
  <time class="underdate">{{ page.date }}</time>
</h1>
<audio class="text-width" controls src="/{{ page.extra.mp3 }}" type="audio/mpeg"></audio>
<div id="bpm-container" style="display: none;">
  <div class="bpm-display">
    <div class="bpm-content">
      <div class="bpm-value"></div>
    </div>
  </div>
</div>
<p>
  <a href="/{{ page.extra.mp3 }}" download="{{ page.title }}.mp3">mp3</a>
</p>
<script type="module" src="/js/bundle.js"></script>
{{ page.content | safe }}
{% endblock content %}
