{% extends "base.html" %}

{% block description%}Mix {{ page.title }}{% endblock description %}

{% block content %}
<p class="nav">
  <a href="../">← mixes</a>
</p>
<h1 class="title">
  {{ page.title }}
  <time class="underdate">{{ page.date }}</time>
</h1>
<audio class="text-width" controls src="/{{ page.extra.mp3 }}" type="audio/mpeg"></audio>
<p>
  <a href="/{{ page.extra.mp3 }}" download="{{ page.title }}.mp3">mp3</a>
</p>
{{ page.content | safe }}
<p class="note">
  If you’re interested in the music I play,<br />
  <a href="mailto:raphael@lustin.fr">drop me an email</a>!
</p>
{% endblock content %}
