{% extends "base.html" %}

{% block title %}Mixes{% endblock %}

{% block description %}A selection of personal music mixes.{% endblock %}

{% block content %}
<canvas id="grid-pattern"></canvas>
<p class="nav">
  <a href="../">← home</a>
</p>
<nav class="top">
  <ol>
    <li>{{ section.title }}</li>
    {% for page in section.pages %}
    <li>
      <a href="{{ page.permalink | safe }}" class="mix-link">
        <div class="mix-item">
          <span class="mix-title">{{ page.title }}</span>
          <p class="metadata">
            {{ page.date }}
            {% if page.extra.duration %} · ♪ {{ page.extra.duration }}{% endif %}
          </p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ol>
</nav>

<script type="module" src="/js/mixes-index-bundle.js"></script>
{% endblock content %}
