{% extends "base.html" %}

{% block title %}Mixes{% endblock %}

{% block description %}A selection of personal music mixes.{% endblock %}

{% block content %}
<canvas id="grid-pattern"></canvas>
<nav class="top">
  <ol>
    <li>{{ section.title }}</li>
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
    {% for page in section.pages %}
    <li>
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      <p class="metadata">{{ page.date }}</p>
    </li>
  {% endfor %}
  </ol>
</nav>
<script type="module" src="/js/mixes-index-bundle.js"></script>
{% endblock content %}
